{{#each erros}}
<div class="flex items-center bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="mr-2 font-bold">Erro!</strong>
    <span class="flex-1">{{this.texto}}</span> <!-- Use "this" para acessar o texto do erro -->
    <button class="absolute top-0 right-0 mt-2 mr-2 text-red-500 hover:text-red-700" onclick="this.parentElement.style.display='none'">
        &times;
    </button>
</div>
{{else}}
<!-- 
<div class="flex items-center bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <strong class="mr-2 font-bold">Tudo certo!</strong>
    <span class="flex-1">Nenhum erro encontrado.</span>
</div>
-->
{{/each}}
<h2 class="text-4xl">>Nova categoria</h2>
<hr class="m-4 bg-slate-300 h-1 w-full">
<form action="/admin/categorias/nova" method="post" class="w-full max-w-lg mx-auto mt-6 space-y-4">
    <!-- Nome da Categoria -->
    <div>
        <label for="nome" class="block text-xl font-bold text-gray-700 mb-2">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Nome da categoria" 
               class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200">
    </div>

    <!-- Slug da Categoria -->
    <div>
        <label for="slug" class="block text-xl font-bold text-gray-700 mb-2">Slug:</label>
        <input type="text" name="slug" id="slug" placeholder="Slug da categoria" 
               class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-200">
    </div>

    <!-- Botão Criar Categoria -->
    <div class="text-right">
        <button type="submit" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">
            Criar categoria
        </button>
    </div>
</form>
