#Node modules
node_modules/
#Tailwind archives
src/
public/css/output.css
#Others
logs
*.log
.env
.env.local
.env.*.local
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
dist/
build/
coverage/
temp/
tmp/
.vscode/
.idea/
*~
*.bak
*.swp