#node
node_modules/
#tailwind archives
    src/
    public/css/output.css
#others
logs
*.log
.env
.env.local
.env.*.local
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
dist/
build/
coverage/
temp/
tmp/
.vscode/
.idea/
*~
*.bak
*.swp